<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="aithammou.badr.listview">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Listview">
        <activity
            android:name=".Interface.UploadPost"
            android:exported="false" />
        <activity
            android:name=".Interface.Admin"
            android:exported="false" />
        <activity
            android:name=".Interface.Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Interface.MainActivity"
            android:exported="false" />
        <activity
            android:name=".loginRegister.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Interface.Profile"
            android:exported="false" />
        <activity
            android:name=".Interface.Search"
            android:exported="false" />
        <activity
            android:name=".Interface.Chat"
            android:exported="false" />
        <activity
            android:name=".loginRegister.Register"
            android:exported="true" />
    </application>

</manifest>